{
    "presets": [
        ["@babel/preset-env", {
            "modules": false,
            "targets": {
                "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
            },
            "useBuiltIns": "entry",
            "corejs": 2
        }]
    ],
    "plugins": ["@babel/plugin-syntax-dynamic-import"]
}