@import './fonts'

\:root
    --font: Google Sans, Roboto, sans-serif
    --background: #FEFFFF
    --background-element: #E5EAED
    --background-component: #FEFFFF
    --background-image: transparent
    --text-element: #253339
    --text-title: #212121
    --text-subtitle: #747576
    --text-primary: #000000
    --text-secondary: #757575
    --border: 1px solid #EAEBEC
    --accent: #1558D6
    --shadow: 0 2px 6px 2px rgba(0,0,0,.15)
    --bubble-left: url('~@/assets/svg/bubble-left.svg')
    --bubble-right: url('~@/assets/svg/bubble-right.svg')
    --component-width: 70%
    --container-width: 500px
    --animation-timing: cubic-bezier(.4, 0, .2, 1)

@media (prefers-color-scheme: dark)
    \:root
        --background: #171717
        --background-element: #2A2D35
        --background-component: #191919
        --background-image: white
        --text-element: #A2B6C0
        --text-title: #E0E1E2
        --text-subtitle: #959595
        --text-primary: #FEFFFE
        --text-secondary: #949596
        --border: 1px solid #2D2D2D
        --accent: #125EE5
        --shadow: 0 2px 6px 2px rgba(0,0,0,.3)
        --bubble-left: url('~@/assets/svg/bubble-left_dark.svg')
        --bubble-right: url('~@/assets/svg/bubble-right_dark.svg')
